/* Card Styling */
.card {
  background-color: #F8FAFC;
  color: #ff7e5f;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin: 10px;
  flex: 1;
  width: 300px;
  transition: all 0.3s ease;
  border-color: #ff7e5f;
  border-width: 3px;
  
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin: 10px 0;
  font-size: 1.5rem;
}

.card p{
    font-size: 1.2rem;
}
.card .number {
  font-size: 1.5rem;
  font-weight: bold;
}


/* chart */


.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px; 
  height: 300px; 

}

.container-chart {
  display: flex;
  justify-content: space-between;
  gap: 20px;

}

/* Gaya untuk judul h2 */
.text-chart {
  font-size: 1.2rem; 
  font-weight: 700; 
  text-align: center;
  color: #351C4D; 
  margin-bottom: 20px; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
}

/* Efek tambahan opsional */
.text-chart::after {
  content: '';
  display: block;
  width: 80px; 
  height: 4px; 
  background-color: #f28e2b; 
  margin: 10px auto 0; 
  border-radius: 2px; 
}

.btn {
    color: #ff7e5f;
    border: none;
    padding: 12px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    color: #feb47b;
}

/* Style untuk modal */

.modal-dialog {
    max-width: 90%; 
    margin: 1.75rem auto; 
}
.modal-content {
    border-radius: 8px;
    border: 1px solid #ddd;
    
}

.modal-header {

    color: white;
    font-weight: bold;
    text-align: center;
}

.modal-header .btn-close {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.modal-title {
    font-size: 1.25rem;
    margin: 0;
}

/* Style untuk tabel dalam modal */
.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
    text-align: center;
}

.table td {
    text-align: center;
}

.table thead th {
    background-color: #f28e2b;
    color: white;
}

.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

/* Style untuk modal body */
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

/* Styling untuk button-close */
.btn-close {
    padding: 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 50%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .modal-dialog {
        max-width: 100%;
        margin: 1.75rem auto;
    }

    .modal-header h5 {
        font-size: 1rem;
    }

    .table th,
    .table td {
        font-size: 0.875rem;
    }
}
